In [45]:
import pandas as pd
import numpy as np

In [46]:
filepath = 'laptops.csv'
df = pd.read_csv(filepath)

In [47]:
df

,title,price,rating
0,"HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...","39,990",NaN
1,"Dell Vostro 3420 Laptop,12th Gen Intel Core i3...","41,990",NaN
2,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...","44,490",4.4 out of 5 stars
3,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,"26,999",NaN
4,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,"33,639",NaN
...,...,...,...
334,"Dell Inspiron 3525 Laptop, AMD Ryzen R3-5425U,...","39,990",NaN
335,(Renewed) DELL Latitude 5490 Core i5 8th Gen L...,"26,615",NaN
336,"ASUS Vivobook S 14 Flip (2023), AMD Ryzen 5 75...","68,990",NaN
337,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,"64,999",NaN
338,"ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...","56,990",NaN

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   339 non-null    object
 1   price   331 non-null    object
 2   rating  24 non-null     object
dtypes: object(3)
memory usage: 8.1+ KB

In [49]:
print(df.columns.tolist())

['title', 'price', 'rating']

In [50]:
def clean_price_column(price):
    if isinstance(price, str):         # check if price variable is a string
        price = price.replace(',', '') # remove comma
        price = price.strip()          # remove whitespace
        if price.isnumeric():
            price = int(price)
            return price
        if len(price) == 0:
            return np.nan
    return price

In [51]:
clean_price_column('23,902')

23902

In [52]:
df['cleaned_price'] = df['price'].apply(clean_price_column)

In [53]:
df

,title,price,rating,cleaned_price
0,"HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...","39,990",NaN,39990.0
1,"Dell Vostro 3420 Laptop,12th Gen Intel Core i3...","41,990",NaN,41990.0
2,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...","44,490",4.4 out of 5 stars,44490.0
3,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,"26,999",NaN,26999.0
4,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,"33,639",NaN,33639.0
...,...,...,...,...
334,"Dell Inspiron 3525 Laptop, AMD Ryzen R3-5425U,...","39,990",NaN,39990.0
335,(Renewed) DELL Latitude 5490 Core i5 8th Gen L...,"26,615",NaN,26615.0
336,"ASUS Vivobook S 14 Flip (2023), AMD Ryzen 5 75...","68,990",NaN,68990.0
337,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,"64,999",NaN,64999.0
338,"ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...","56,990",NaN,56990.0

In [54]:
def clean_rating_column(rating):
    if isinstance(rating, str):
        rating = rating.split()[0]
        return float(rating)
    return rating

In [55]:
df['cleaned_rating'] = df['rating'].apply(clean_rating_column)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           339 non-null    object
 1   price           331 non-null    object
 2   rating          24 non-null     object
 3   cleaned_price   331 non-null    float64
 4   cleaned_rating  24 non-null     float64
dtypes: float64(2), object(3)
memory usage: 13.4+ KB

In [61]:
df.sort_values(by='cleaned_rating', ascending=False, inplace=True)
df

,title,price,rating,cleaned_price,cleaned_rating
275,"Apple 2021 MacBook Pro (16-inch/41.05 cm, M1 M...","3,19,990",4.7 out of 5 stars,319990.0,4.7
18,"Apple 2020 MacBook Air Laptop M1 chip, 13.3-in...","84,990",4.7 out of 5 stars,84990.0,4.7
101,"Apple 2020 MacBook Air Laptop M1 chip, 13.3-in...","84,990",4.7 out of 5 stars,84990.0,4.7
230,"ASUS Vivobook 15, Intel Core i3-1220P 12th Gen...","42,990",4.6 out of 5 stars,42990.0,4.6
79,"ASUS ROG Strix G17, 17.3-inch (43.94 cms) FHD ...","90,990",4.5 out of 5 stars,90990.0,4.5
...,...,...,...,...,...
66,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,"64,999",NaN,64999.0,NaN
99,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,"64,999",NaN,64999.0,NaN
188,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,"64,999",NaN,64999.0,NaN
293,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,"64,999",NaN,64999.0,NaN
194,Xioami NotebookUltra 3.2K Resolution Display I...,"58,999",NaN,58999.0,NaN

In [65]:
df.drop(columns=['price'], inplace=True)

In [66]:
df

,title,rating,cleaned_price,cleaned_rating
275,"Apple 2021 MacBook Pro (16-inch/41.05 cm, M1 M...",4.7 out of 5 stars,319990.0,4.7
18,"Apple 2020 MacBook Air Laptop M1 chip, 13.3-in...",4.7 out of 5 stars,84990.0,4.7
101,"Apple 2020 MacBook Air Laptop M1 chip, 13.3-in...",4.7 out of 5 stars,84990.0,4.7
230,"ASUS Vivobook 15, Intel Core i3-1220P 12th Gen...",4.6 out of 5 stars,42990.0,4.6
79,"ASUS ROG Strix G17, 17.3-inch (43.94 cms) FHD ...",4.5 out of 5 stars,90990.0,4.5
...,...,...,...,...
66,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,NaN,64999.0,NaN
99,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,NaN,64999.0,NaN
188,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,NaN,64999.0,NaN
293,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,NaN,64999.0,NaN
194,Xioami NotebookUltra 3.2K Resolution Display I...,NaN,58999.0,NaN